.descripcion{
  padding-left: 1rem;
  padding-right: 1rem;
}


.imagen-descripcion{
  width: 50%;
  height: 50%;
  margin-top: 1rem;
  transform: translateX(50%);
  align-items: center;
  justify-content: center;
}


.title{
  width: 875px;
  height: 77px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin-left: 3rem;
  margin-top: 1rem;
}

.logotipo{
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #FFFFFF;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.descripcion{
  color: #FFFFFF;
  text-align: justify;
  margin-right: 26px;
}